frontend/node_modules/
frontend/.idea/
frontend/Dockerfile
frontend/package-lock.json
frontend/.env

backend/node_modules/
backend/.idea/
backend/.nyc_output/
backend/dist/
backend/Dockerfile
backend/package-lock.json
backend/.env