@font-face {
	font-family: SofiaSans; 
	font-display: swap; 
	src: url("@assets/fonts/SofiaSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans;
	font-display: swap;
	src: url("@assets/fonts/SofiaSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans;
	font-display: swap;
	src: url("@assets/fonts/SofiaSans-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: SofiaSans;
	font-display: swap;
	src: url("@assets/fonts/SofiaSans-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: SofiaSans;
	font-display: swap;
	src: url("@assets/fonts/SofiaSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}


